!!!!
%html
%head
  %title Recipes
  = stylesheet_link_tag :application, "data-turbolinks-track" => true
  = javascript_include_tag :application, "data-turbolinks-track" => true
  = csrf_meta_tags
%body
  %nav
    - if user_signed_in?
      %p #{current_user.email}
      %p #{current_user.first_name}
      = link_to "Sign out", destroy_user_session_path
  %p.notice
    = notice
  %p.alert
    = alert

= yield
